# Artifacts
tracktempo/checkpoints/
tracktempo/logs/
tracktempo/data/
*.pt
*.csv
*.npz
*.joblib
*.pdf

# Notebooks & junk
*.ipynb
.ipynb_checkpoints/

# Caches and compiled files
**/__pycache__/
*.pyc

# Embedded Git repo (scraping)
scraping/

